<app-header></app-header>
<div class="container">
    <div class="intro-secsion">
        <p> This is home </p>
    </div>

    <div class="search-box">
        <input type="text" class="form-control search-input" placeholder=" Search">
        <select class="form-control product-category">
            <option selected disabled>Categories</option>
            <option value="0">Phone</option>
            <option value="1">Laptop</option>
        </select>
    </div>

    <div class="row">
        <div class="col-lg-4 col-md-6">
            <div class="product-item">
                <img src="https://images.pexels.com/photos/434346/pexels-photo-434346.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                    alt="macbook" class="product-img">
                <h3 class="product-name">MacBook</h3>
                <p class="product-description">this is macbook new 2023, show host</p>
                <p class="product-warranry">warranry: 12 month</p>
                <p class="product-price">Price:<del>$2000</del> $1500</p>
                <div class="product-rating">
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                </div>
                <div class="product-action">
                    <button class="btn btn-primary"> Add cart </button>
                    <span class="space-x"></span>
                    <button class="btn btn-success">Buy</button>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="product-item">
                <img src="https://images.pexels.com/photos/434346/pexels-photo-434346.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                    alt="macbook" class="product-img">
                <h3 class="product-name">MacBook</h3>
                <p class="product-description">this is macbook new 2023, show host</p>
                <p class="product-warranry">warranry: 12 month</p>
                <p class="product-price">Price:<del>$2000</del> $1500</p>
                <div class="product-rating">
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                </div>
                <div class="product-action">
                    <button class="btn btn-primary"> Add cart </button>
                    <span class="space-x"></span>
                    <button class="btn btn-success">Buy</button>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="product-item">
                <img src="https://images.pexels.com/photos/434346/pexels-photo-434346.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                    alt="macbook" class="product-img">
                <h3 class="product-name">MacBook</h3>
                <p class="product-description">this is macbook new 2023, show host</p>
                <p class="product-warranry">warranry: 12 month</p>
                <p class="product-price">Price:<del>$2000</del> $1500</p>
                <div class="product-rating">
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                </div>
                <div class="product-action">
                    <button class="btn btn-primary"> Add cart </button>
                    <span class="space-x"></span>
                    <button class="btn btn-success">Buy</button>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="product-item">
                <img src="https://images.pexels.com/photos/434346/pexels-photo-434346.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                    alt="macbook" class="product-img">
                <h3 class="product-name">MacBook</h3>
                <p class="product-description">this is macbook new 2023, show host</p>
                <p class="product-warranry">warranry: 12 month</p>
                <p class="product-price">Price:<del>$2000</del> $1500</p>
                <div class="product-rating">
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                </div>
                <div class="product-action">
                    <button class="btn btn-primary"> Add cart </button>
                    <span class="space-x"></span>
                    <button class="btn btn-success">Buy</button>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="product-item">
                <img src="https://images.pexels.com/photos/434346/pexels-photo-434346.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                    alt="macbook" class="product-img">
                <h3 class="product-name">MacBook</h3>
                <p class="product-description">this is macbook new 2023, show host</p>
                <p class="product-warranry">warranry: 12 month</p>
                <p class="product-price">Price:<del>$2000</del> $1500</p>
                <div class="product-rating">
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                </div>
                <div class="product-action">
                    <button class="btn btn-primary"> Add cart </button>
                    <span class="space-x"></span>
                    <button class="btn btn-success">Buy</button>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="product-item">
                <img src="https://images.pexels.com/photos/434346/pexels-photo-434346.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                    alt="macbook" class="product-img">
                <h3 class="product-name">MacBook</h3>
                <p class="product-description">this is macbook new 2023, show host</p>
                <p class="product-warranry">warranry: 12 month</p>
                <p class="product-price">Price:<del>$2000</del> $1500</p>
                <div class="product-rating">
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                </div>
                <div class="product-action">
                    <button class="btn btn-primary"> Add cart </button>
                    <span class="space-x"></span>
                    <button class="btn btn-success">Buy</button>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="product-item">
                <img src="https://images.pexels.com/photos/434346/pexels-photo-434346.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                    alt="macbook" class="product-img">
                <h3 class="product-name">MacBook</h3>
                <p class="product-description">this is macbook new 2023, show host</p>
                <p class="product-warranry">warranry: 12 month</p>
                <p class="product-price">Price:<del>$2000</del> $1500</p>
                <div class="product-rating">
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                </div>
                <div class="product-action">
                    <button class="btn btn-primary"> Add cart </button>
                    <span class="space-x"></span>
                    <button class="btn btn-success">Buy</button>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="product-item">
                <img src="https://images.pexels.com/photos/434346/pexels-photo-434346.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                    alt="macbook" class="product-img">
                <h3 class="product-name">MacBook</h3>
                <p class="product-description">this is macbook new 2023, show host</p>
                <p class="product-warranry">warranry: 12 month</p>
                <p class="product-price">Price:<del>$2000</del> $1500</p>
                <div class="product-rating">
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                </div>
                <div class="product-action">
                    <button class="btn btn-primary"> Add cart </button>
                    <span class="space-x"></span>
                    <button class="btn btn-success">Buy</button>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="product-item">
                <img src="https://images.pexels.com/photos/434346/pexels-photo-434346.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                    alt="macbook" class="product-img">
                <h3 class="product-name">MacBook</h3>
                <p class="product-description">this is macbook new 2023, show host</p>
                <p class="product-warranry">warranry: 12 month</p>
                <p class="product-price">Price:<del>$2000</del> $1500</p>
                <div class="product-rating">
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                </div>
                <div class="product-action">
                    <button class="btn btn-primary"> Add cart </button>
                    <span class="space-x"></span>
                    <button class="btn btn-success">Buy</button>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="product-item">
                <img src="https://images.pexels.com/photos/434346/pexels-photo-434346.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                    alt="macbook" class="product-img">
                <h3 class="product-name">MacBook</h3>
                <p class="product-description">this is macbook new 2023, show host</p>
                <p class="product-warranry">warranry: 12 month</p>
                <p class="product-price">Price:<del>$2000</del> $1500</p>
                <div class="product-rating">
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                </div>
                <div class="product-action">
                    <button class="btn btn-primary"> Add cart </button>
                    <span class="space-x"></span>
                    <button class="btn btn-success">Buy</button>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="product-item">
                <img src="https://images.pexels.com/photos/434346/pexels-photo-434346.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                    alt="macbook" class="product-img">
                <h3 class="product-name">MacBook</h3>
                <p class="product-description">this is macbook new 2023, show host</p>
                <p class="product-warranry">warranry: 12 month</p>
                <p class="product-price">Price:<del>$2000</del> $1500</p>
                <div class="product-rating">
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                </div>
                <div class="product-action">
                    <button class="btn btn-primary"> Add cart </button>
                    <span class="space-x"></span>
                    <button class="btn btn-success">Buy</button>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="product-item">
                <img src="https://images.pexels.com/photos/434346/pexels-photo-434346.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                    alt="macbook" class="product-img">
                <h3 class="product-name">MacBook</h3>
                <p class="product-description">this is macbook new 2023, show host</p>
                <p class="product-warranry">warranry: 12 month</p>
                <p class="product-price">Price:<del>$2000</del> $1500</p>
                <div class="product-rating">
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                </div>
                <div class="product-action">
                    <button class="btn btn-primary"> Add cart </button>
                    <span class="space-x"></span>
                    <button class="btn btn-success">Buy</button>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>